<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'company', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin form' }) do |f| %>
  <% if resource.errors.any? %>
    <div class='alert fade in alert-danger'>
      <button class="close" data-dismiss="alert">×</button>
      <%= resource.errors.full_messages.join(' and ') %>
    </div>
  <% end %>
  <h2>Sign up</h2>
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email"  %><br />

    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password (8 chars min)"  %><br />

    <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control ', placeholder: "Password confirmation"  %>

  <div style="display:none">
    <%= f.hidden_field :role, value: 'super_admin' %>
    <%= f.hidden_field :company_id, value: session[:company_id] %>
  </div><br />

    <%= f.submit "Sign up", class: "btn btn-primary form-control" %>
<% end %>
