<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show' %>
<% end %>
<div class='container'>
    <h2 class='heading'>FAQs</h2>
  <% if @articles.present? %>
  <div class='search' %>
      <%= search_form_for @search do |f| %>
        <%= f.label :title_or_description_cont, 'Search : ' %>
        <%= f.text_field :title_or_description_cont %>
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div><br />
    <ul class='media-list'>
      <% @articles.each do |article| %>
          <li>
            <%= link_to article.title.capitalize, admins_article_path(article) %>
          </li>
      <% end %>
    </ul>
  <% end %>
</div>
