<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'company', 'data-turbolinks-track' => true %>
<% end %>

<div class='form'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
    <% if resource.errors.any? %>
      <div class='alert fade in alert-danger'>
        <button class="close" data-dismiss="alert">×</button>
        <%= resource.errors.full_messages.join(' and ') %>
      </div>
    <% end %>
    <div class='pt-70'>
      <h2>Change your password</h2>
      <%= f.hidden_field :reset_password_token %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "New Password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm Password" %><br />

      <%= f.submit "Change my password", class: 'btn btn-primary form-control' %>
    </div>
  <% end %>
</div>
