<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'company', 'data-turbolinks-track' => true %>
<% end %>

<div class='form'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
    <%= render partial: "error_alert", locals: { resource: resource } %>
    <div class='pt-70'>
      <h2>Forgot your password?</h2>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email"  %><br />
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary form-control' %>
    </div>
  <% end %>
</div>
