<div class='container'>
  <%= link_to 'All', tickets_path %> | 
  <%= link_to 'New', tickets_path(status: :unassigned) %>
  <% if @search %>
    <div class='search' %>
      <%= search_form_for @search do |f| %>
        <%= f.label :email_eq, 'Search by Email : ' %>
        <%= f.email_field :email_eq %>
        <%=  f.submit 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div><br />
    <div>
      <%= search_form_for @search do |f| %>
        <%= f.label 'Assignee: ' %>
        <%= f.select :admin_id_eq, options_for_select(company_admins, params['q'].try(:[], :admin_id_eq) || current_admin.id) %>
        <%= f.label 'Status: ' %>
        <%= f.select :state_eq, options_for_select([['All', ''], ['Assigned', 'assigned'], ['Resolved', 'resolved'], ['Closed', 'closed']], params['q'].try(:[], :state_eq) || '') %>
        <%= f.submit 'Filter', class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
  <% if @tickets.present? %>
    <h2 class='heading'>Tickets List</h2>
      <div>
        <div class='pagination-info'>
          <p><%= pagination_info @tickets %></p>
        </div>
      </div>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>#ID</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Updated At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.id %></td>
              <td><%= ticket.subject.truncate(30) %></td>
              <td><%= ticket.state.capitalize %></td>
              <% if ticket.admin %>
                <td><%= ticket.admin_name.capitalize %></td>
              <% else %>
                <td>Unassigned</td>
              <% end %>
              <td><%= ticket.updated_at.to_s(:long) %></td>
              <td>
                <% if ticket.admin %>
                  <%= link_to 'View', ticket_path(ticket) %>
                <% else %>
                  <%= link_to 'View', ticket_path(ticket) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='pagination'>
        <%= paginate @tickets %>
      </div>
  <% else %>
    <h3 class='heading'>No tickets</h3>
  <% end %>
</div>
