<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show', 'data-turbolinks-track' => true %>
<% end %>
<div class='container'>
  <div class='jumbotron'>
    <% if admin_signed_in? %>
      <h3 class='heading'>Ticket Detail</h2>
      <% if admin_signed_in? %>
        <div class='mt-neg50 pull-right'>
          <% if @ticket.may_resolve? %>
            <div class='mt-10'>
              <%= form_for(@ticket, url: assign_ticket_path) do |f| %>
                <%= f.label :admin_id, 'Assignee : '  %>
                <%= f.select(:admin_id, options_for_select(admins)) %>
                <%= f.submit 'Assign', class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div>
              <%= link_to 'Resolve', resolve_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Resolve the ticket?.' }, method: :patch %>
              <%= link_to 'Close', close_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Close the ticket?.' }, method: :patch %>
            </div>
          <% elsif @ticket.may_reopen? %>
            <%= link_to 'Reopen', reopen_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Reopen the ticket?.' }, method: :patch %>
          <% else %>
            <%= link_to 'Close', close_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Close the ticket?.' }, method: :patch %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h3 class='heading'>Issue Detail</h2>
    <% end %>
    <h3><%= @ticket.subject %></h4>
      <i><%= @ticket.email %> <%= @ticket.created_at.strftime('%d-%b-%Y, %T') %></i>
    <div class='description'>
      <p><span class='text-size'><b>Description: </b></span><%= @ticket.description %></p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Comments :</h3></div>
    <div class="panel-body">
      <% if @comments.any? %>
        <table class='table table-striped'>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <span> <i><%= comment.commenter_email %></i>, <i><%= comment.created_at.strftime('%d-%b-%Y, %T') %></i></span>
                <pre><%= comment.text %></pre>
                <p class='pull-right align'>
                </p>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    <% if @ticket.may_resolve? %>
      <%= form_for(@comment, url: ticket_comments_path(@ticket)) do |f| %>
        <%= f.text_area :text, rows: '5', class: 'form-control', placeholder: 'Comment here...' %><br />
        <% if admin_signed_in? %>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <%= f.radio_button(:type, 'internal') %><span>Internal</span>
            </label>
            <label class="btn btn-primary active">
              <%= f.radio_button(:type, 'public', checked: true) %><span>Public</span>
            </label>
          </div>
        <% end %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    <% elsif admin_signed_in? %>
      <p>Status of the ticket is resolved, so you are not allowed to make any further comment. To make a comment, please change the status of the ticket to Assigned</p>
    <% else %>
      <p>Your ticket's status is resolved. So you are not allowed to make any further comment. If you are having any other query, please create a new ticket.</p>
      <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
