<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show', 'data-turbolinks-track' => true %>
<% end %>
<div class='container'>
  <div class='jumbotron'>
    <% if admin_signed_in? %>
      <h3 class='heading'>Ticket Detail</h2>
    <% else %>
      <h3 class='heading'>Issue Detail</h2>
    <% end %>
    <h3><%= @ticket.subject %></h4>
    <div class='description'>
      <p><span class='text-size'><b>Description: </b></span><%= @ticket.description %></p>
      <p class='pull-right'><b><i><%= @ticket.email %> <%= @ticket.created_at.strftime('%d-%b-%Y, %T') %></i></b></p>
    </div>
    <% if admin_signed_in? %>
      <div class='mt-30'>
        <div class='mt-10'>
          <%= label_tag :assignee, 'Assignee : '  %>
          <%= select_tag(:assignee, options_for_select(admins)) %>
        </div>
        <div class='mt-10'>
          <%= label_tag :status, 'Status : '  %>
          <%= select_tag(:status, options_for_select(['Open', 'Closed'])) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Comments :</h3></div>
    <div class="panel-body">
      <% if @comments.any? %>
        <table class='table table-striped'>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <p><%= comment.text %></p>
                <p class='pull-right align'>
                  <i><%= comment.created_at.strftime('%d-%b-%Y, %T') %></i><br />
                  <span class='text-right'><b><%= comment.commenter_email %></b></span>
                </p>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <%= form_for(@comment, url: ticket_comments_path(@ticket)) do |f| %>
      <%= f.text_area :text, rows: '5', class: 'form-control', placeholder: 'Comment here...' %><br />
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>