<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show', 'data-turbolinks-track' => true %>
<% end %>
<div class='container'>
  <div class='jumbotron'>
      <h3 class='heading'><%= @ticket.subject %></h2>
      <% if admin_signed_in? %>
        <div class='mt-neg50 pull-right'>
          <p class='small-size'><b>Status:</b> <%= @ticket.state.capitalize %></p>
          <% if @ticket.unassigned? || @ticket.may_resolve? %>
            <div class='mt-10'>
                <%= form_for(@ticket, url: "#{ set_url(@ticket) }") do |f| %>
                <%= f.label :admin_id, 'Assignee : '  %>
                <%= f.select :admin_id, options_for_select(admin_list, @ticket.admin_id), prompt: 'Select Assiginee' %>
                <%= f.submit 'Assign', class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% elsif @ticket.may_resolve? %>
            <div>
              <%= link_to 'Resolve', resolve_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Resolve the ticket?.' }, method: :patch %>
              <%= link_to 'Close', close_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Close the ticket?.' }, method: :patch %>
            </div>
          <% elsif @ticket.may_reopen? %>
            <%= link_to 'Reassign', reopen_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Reassign the ticket to yourself?.' }, method: :patch %>
            <%= link_to 'Close', close_ticket_path(@ticket), class: 'btn btn-primary', data: { confirm: 'Are you sure you want to Close the ticket?.' }, method: :patch %>
          <% end %>
        </div>
      <% end %>
    <i><%= @ticket.email %>, <%= @ticket.created_at.to_s(:long) %></i>
    <div class='description'>
      <p><span class='text-size'><b>Description: </b></span><%= @ticket.description %></p>
      <div class='attachment'>
        <% @ticket.attachments.each do |attachment| %>
          <%= link_to image_tag(attachment.document.url, size: '190x150', class: 'attachments'),'', { 'data-toggle': :modal, 'data-target': "##{ attachment.id }" } %>
            <div class="modal fade" id=<%= attachment.id %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4><%= attachment.document_file_name %></h4>
                </div>
                  <div class="modal-body container-fluid">
                    <%= image_tag(attachment.document.url, size: '568x300') %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'><h3>Comments :</h3></div>
    <div class='panel-body'>
      <% if @comments.any? %>
        <table class='table table-striped length'>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <span><b><i><%= comment.commenter_email %></i>,
                   <i><%= comment.created_at.to_s(:long) %></i></b></span>
                <p><%= sanitize(comment.text) %></p>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    <% if @ticket.may_resolve? || @ticket.may_assign? || @ticket.may_close? %>
      <%= form_for(@ticket.comments.build, url: ticket_comments_path(@ticket)) do |f| %>
        <%= f.text_area :text, rows: '5', class: 'form-control', placeholder: 'Comment here...' %><br />
        <% if admin_signed_in? %>
          <div class='btn-group' data-toggle='buttons'>
            <label class='btn btn-success'>
              <%= f.radio_button(:public, 'false') %><span>Internal</span>
            </label>
            <label class='btn btn-success active'>
              <%= f.radio_button(:public, 'true', checked: true) %><span>Public</span>
            </label>
          </div>
        <% end %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    <% elsif admin_signed_in? %>
      <p class='color'>Status of the ticket is <%= @ticket.state %>, so you are not allowed to make any further comment.</p>
    <% else %>
      <p class='color'>Your ticket's status is <%= @ticket.state %>. So you are not allowed to make any further comment. If you are having any other query, please create a new ticket.</p>
      <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


