<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show' %>
<% end %>
<div class='container'>
  <%= render 'search_field' %>
  <h2 class='heading'>Knowledge Base</h2>
  <% if @categories.present? %>
    <div class='pagination-info'>
      <p><%= pagination_info @categories %> categories</p>
    </div>
    <table class='table table-striped'>
      <% @categories.each do |category| %>
      <% unless category.articles.empty? %>
        <tr>
          <td class='size'><%= link_to category.name.capitalize, category_path(category) %></td>
        </tr>
      <% end %>
      <% end %>
    </table>
    </ul>
  <% elsif params[:q] %>
    <h3> No Result Found </h3>
  <% else %>
    <h3>Currently No Articles</h3>
  <% end %>
  <div class='pagination'>
    <%= paginate @categories %>
  </div>
</div>
