<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'tickets/show' %>
<% end %>
<div class='container'>
  <%= render 'search_field' %>
  <h2 class='heading'><%= @category.name.capitalize %></h2>
  <% if @articles.present? %>
    <div class='pagination-info'>
      <p><%= pagination_info @articles %> articles</p>
    </div>
    <table class='table table-striped'>
      <% @articles.each do |article| %>
        <tr>
          <td class='size'><%= link_to article.title.capitalize, article_path(article) %></td>
        </tr>
      <% end %>
    </table>
    </ul>
  <% elsif params[:q] %>
    <h3> No Result Found </h3>
  <% else %>
    <h3>Currently No Articles</h3>
  <% end %>
  <div class='pagination'>
    <%= paginate @articles %>
  </div>
</div>
