<%= tinymce_assets %>
<%= form_for([:admins, @article], html: { class: 'form-horizontal sign-up-form'}) do |f| %>
  <div class='form-group'>
    <%= f.label :title, 'Title*', class:'col-sm-4 control-label' %>
    <div class='col-sm-8'>
      <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Title'  %>
      <%= inline_error(@article, :title) %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :description, 'Description*', class:'col-sm-4 control-label' %>
  </div>
    <div class='col-sm-12 pd-0'>
      <%= f.text_area :description, size: '10x9', class: 'form-control tinymce' %>
      <%= inline_error(@article, :description) %><br />
    </div>
  <%= f.submit class: 'btn btn-primary btn-len' %>
  <%= link_to 'Cancel', admins_articles_path, class: 'btn btn-danger btn-len pull-right' %>
<% end %>
<%= tinymce %>
